<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="main-block">
            <div class="row">
                <div class="col-md-5" id="init-block">
                    <h1>Queue System</h1>
                    {{#each inputFields}}
                        <p id="{{@key}}-id">The {{this}}: </p>
                    {{/each}}
                    {{#each selectFields}}
                        <p id="{{@key}}-id">The
                            {{#with this as |obj|}}
                                {{obj.name}}
                            {{/with}}: </p>
                    {{/each}}
                    <form class="form-horizontal" role="form" id="main-form" method="post">
                        {{#each inputFields}}
                            <div class="form-group">
                                <label class="control-label col-md-4" for="{{@key}}-input-id">The
                                    {{this}}</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="{{@key}}-input-id" type="text"
                                           name="{{@key}}-input"/>
                                </div>
                            </div>
                        {{/each}}
                        {{#each selectFields}}
                            <div class="form-group">
                                <label class="control-label col-md-4" for="{{@key}}-select-id">The
                                    {{#with this as |obj|}}
                                        {{obj.name}}
                                    {{/with}}
                                </label>
                                <div class="col-md-4">
                                    <select class="form-control col-md-4" id="{{@key}}-select-id"
                                            name="{{@key}}-select">
                                        {{#with this as |obj|}}
                                            {{#each obj.values}}
                                                <option>{{this}}</option>
                                            {{/each}}
                                        {{/with}}
                                    </select>
                                </div>
                            </div>
                        {{/each}}
                        <button id="run-button" type="button" class="btn btn-success">
                            Run
                        </button>
                        <p id="run-button-sign"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>