<div class="col-md-4">
    {{#each prerunCharts}}
        <canvas id="{{@key}}-id" class="chart-canvas" width="400" height="400"></canvas>
    {{/each}}
    {{#each postrunCharts}}
        <canvas id="{{@key}}-id" class="chart-canvas" width="400" height="400"></canvas>
    {{/each}}
</div>
<div class="col-md-2">
    {{#each prerunCharts}}
    <button id="{{@key}}-button-id" class="chart-btn btn btn-default" type="button">
        The {{this}} chart
    </button>
    {{/each}}
    {{#each postrunCharts}}
        <button id="{{@key}}-button-id" class="chart-btn btn btn-default" type="button">
            The {{this}} chart
        </button>
    {{/each}}
</div>